.side {
	width: 80px;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	background: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	z-index: 5;
	&.on {
		background: #fdda00;

		.side_btn {
			padding-top: 20px;
			.side_btn_top,
			.side_btn_mid,
			.side_btn_bottom {
				width: 60%;
				position: absolute;
				margin-bottom: 0px;

				&.side_btn_top {
					transform: rotate(45deg);
					box-shadow: 4px -2px 0px rgba(255, 255, 255, 1);
				}
				&.side_btn_mid {
					display: none;
				}
				&.side_btn_bottom {
					transform: rotate(-45deg);
					box-shadow: 0px 3px 0px rgba(255, 255, 255, 1);
				}
				&::after {
					display: none;
				}
			}
		}
		.side_column_txt {
			display: none;
		}
	}
	.side_btn {
		display: flex;
		flex-direction: column;
		align-items: center;
		cursor: pointer;

		.side_btn_top,
		.side_btn_mid,
		.side_btn_bottom {
			width: 60%;
			background: #000;
			height: 5px;
			margin-bottom: 10px;
			&::after {
				position: relative;
				top: 3px;
				left: 3px;
				z-index: -1;
				content: "";
				display: block;
				width: 100%;
				height: 5px;
				background: #0eff86;
			}
		}
	}
	.side_column_txt {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		position: absolute;
		top: 50%;
		text-align: center;
		transform: translateY(-70%);
		writing-mode: tb-rl;
		font-size: 24px;
		font-weight: bold;
		cursor: pointer;
		&::after {
			content: "";
			display: block;
			width: 8px;
			height: 100%;
			background: #0eff86;
			position: absolute;
			left: 24px;
			z-index: -1;
		}
	}
}

.side_content {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
	background: #000;
	animation: sideContentAni 1s forwards;
	padding: 0px 100px;
	.inner {
		display: flex;
		padding-top: 200px;
		ul.side_content_list {
			width: 40%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			li {
				font-size: 100px;
				margin-bottom: 50px;
				color: #fff;
				cursor: pointer;
				font-family: "SBAggroB";
				span {
					display: inline-block;
					position: relative;
					&:hover {
						&::after {
							content: "";
							display: block;
							animation: sideTxtAni 0.5s forwards;
							height: 20px;
							background: #fdda00;
							position: relative;
							top: -25px;
							z-index: -1;
						}
					}
				}
			}
		}
		.side_content_contact {
			padding-left: 100px;
			width: 60%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			font-family: "SBAggroB";
			color: #fff;

			.side_content_contact_title {
				font-size: 22px;
				color: #fdda00;
			}
			ul {
				li {
					margin-top: 50px;
					font-size: 24px;
				}
			}
		}
	}
}

@keyframes sideTxtAni {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@keyframes sideContentAni {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
