.intro {
	height: 100vh;
	.inner {
		.intro_content {
			display: flex;
			margin-bottom: 120px;
			.intro_img {
				width: 30%;
				display: flex;
				justify-content: center;
				align-items: center;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					animation: introAni 2s linear infinite;
					filter: grayscale(0.7);
				}
			}
			.intro_txt {
				width: 70%;
				padding-left: 50px;
				.intro_title {
					font-family: "SBAggroB";
					display: inline-block;
					font-size: 65px;
					margin-bottom: 50px;
					position: relative;
					z-index: 2;
					span {
						&::after {
							content: "";
							display: block;
							position: absolute;
							bottom: 3px;
							width: 100%;
							height: 20px;
							background: #fff;
							z-index: -1;
						}
					}
				}
				p {
					font-family: "GowunBatang-Regular";
					font-size: 22px;
					padding: 0px 80px;
					line-height: 30px;
				}
			}
		}
	}
}

@keyframes introAni {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(5deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
