.portfolio {
	position: relative;
	text-align: center;
	font-family: "grotesk";
	display: flex;
	width: 100%;
	min-height: 100vh;
	.portfolio_content {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		background: #fdda00;
		transition: all 0.5s linear;
		opacity: 0;
		h1 {
			font-size: 150px;
			margin-bottom: 50px;
			animation-iteration-count: infinite;
			cursor: pointer;
		}
		p {
			font-size: 50px;
		}
		&.on {
			z-index: 2;
			opacity: 1;
		}
		&:nth-child(2) {
			padding-top: 100px;
			background: #000;
			color: #eee;
			&.on {
				overflow: visible;
				height: auto;
				animation: portfolioAni 0.5s linear forwards;
			}
			h1 {
				font-size: 100px;
				margin-bottom: 100px;
			}
		}

		.portfolio_card {
			width: 100%;
			display: flex;
			margin-bottom: 100px;
			justify-content: space-between;
			.portfolio_card_pic {
				width: 50%;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.portfolio_card_txt {
				padding: 0px 30px;
				width: 50%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				.portfolio_card_title {
					font-size: 45px;
					margin-bottom: 30px;
				}
				.portfolio_card_desc {
					font-size: 20px;
					line-height: 30px;
				}
				.portfolio_card_link {
					margin-top: 20px;
					display: flex;
					justify-content: center;
					align-items: center;
					li {
						margin-right: 25px;
						a {
							color: #fff;
							font-size: 40px;
						}
					}
				}
			}
		}
	}
}

@keyframes portfolioAni {
	0% {
		transform: translateY(200px);
	}
	100% {
		transform: translateY(0px);
	}
}
