@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap");
// font-family: 'Space Grotesk', sans-serif;
@font-face {
	font-family: "grotesk";
	src: url("../font/NeuzeitSBook.ttf");
}

@import "./common/reset";
@import "./common/side";
@import "./common/header";
@import "./common/layout";

@import "./main/visual";
@import "./main/about";
@import "./main/intro";
@import "./main/portfolio";

.App {
	background: #fdda00;
	width: 100%;
	overflow-x: hidden;
}
