@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap");
// font-family: 'Space Grotesk', sans-serif;
@font-face {
	font-family: "grotesk";
	src: url("../font/NeuzeitSBook.ttf");
}
@font-face {
	font-family: "SBAggroB";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "GowunBatang-Regular";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SDSamliphopangche_Outline";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

@import "./common/reset";
@import "./common/side";
@import "./common/header";
@import "./common/layout";

@import "./main/visual";
@import "./main/about";
@import "./main/intro";
@import "./main/portfolio";

.App {
	background: #fdda00;
	width: 100%;
	overflow-x: hidden;
}
